<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4Z_Lddv4_9h6bsqS-XA2Xq0nUft3YhXs</string>
	<key>GCM_SENDER_ID</key>
	<string>134097167176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tikitaka</string>
	<key>PROJECT_ID</key>
	<string>tikitaka-6527b</string>
	<key>STORAGE_BUCKET</key>
	<string>tikitaka-6527b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134097167176:ios:ec35d5f1b7735c44c1c97d</string>
</dict>
</plist>